/* large devices */
@media (min-width: 1200px) {
    .container {
       max-width: 1200px;
     }
  }
/* extra large devices */
@media screen and (min-width: 1800px) {
.container {
    max-width: 1800px;
}
}

.container{
  max-width: 1400px;
}